{% extends 'Music/base.html' %}
{% load staticfiles %}

{% block body %}
	<!-- IF Error occurs while submitting form -->
	{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
	{% endif %}

	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-3">
				<h2 class="text-center">{{album.name}}</h2>
				<img src="{{ album.albumImage.url }}" class="img-fluid rounded" alt="{{album.name}}">
			</div>
		</div>	
	</div>
	<h2>All Songs</h2>
	<div class="content">
		<!-- <form action="{% url 'Music:favourite' album.id %}" method="post">
			{% csrf_token %}
			{% for track in album.tracks_set.all %}
			<div class="row">
				<div class="col-sm-4">
					<input type="radio" name="track" id="track{{ forloop.counter }}" value="{{ track.id }}">
					<label for="track{{ forloop.counter }}">
						{{ track.name }}
						{% if track.is_favourite %}
							<i class="far fa-thumbs-up"></i>
						{% endif %}
					</label>
				</div>
				<div class="col-sm-4">

				</div>
			</div>
			{% endfor %}
			<input type="submit" name="submit" value="Favourite" class="btn btn-outline-danger">
		</form> -->

		<!-- <h3 class="mt-4 text-monospace">ALL SONGS</h3> -->
		{% for track in album.tracks_set.all %}
		<div class="row my-4"> 
			<div class="col-sm-1">
				<!-- <img src="{% static track.image_path %}" style="max-width: 100%; display: block;"> -->
				<i class="fas fa-headphones-alt fa-2x" id="music-icon"></i>
			</div>
			<div class="col-sm-3"><p class="py-2">{{ track.name }}</p></div>
			<div class="col-sm-3"><p class="py-2">{{ track.play_time }}</p></div>
			<div class="col-sm-5">
				<audio controls id="player">
					<source src="{{ track.file_path.url }}" type="audio/mpeg">
				</audio>
			</div>
		</div>
		{% endfor %}

	</div>
{% endblock %}
			<!-- <ul>
				{% for track in album.tracks_set.all %}
					<li><a href="{% url 'Music:track' track.id%}">{{track.name}}</a>
				{% endfor %}
			</ul> -->			