{% extends 'Music/base.html' %}
{% load staticfiles %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<h2>ALL ARTISTS</h2>
		</div>
		<div class="row">
			{% for artist in all_artist %}
			<div class="col">
				<a href="{% url 'Music:artist_details' artist.id %}">
					<div class="float-left">
						<img src="{% static artist.picture %}" style="width: 200px; height: 200px;" class="rounded-circle">
						<div class="caption" style="color: red; text-align: center;">
							<p>{{ artist.name }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}