{% extends 'Music/base.html' %}
{% load staticfiles %}

{% block body %}
<div class="row">
	<div class="col-sm-4">
		<img src="{% static 'Music/images/register_page.jpg' %}" height="500px" width="100%">
	</div>
	<div class="col-sm-8">
		<form method="post" action="{% url 'Music:logIn'%}">
			{% csrf_token %}
			<table style="margin: auto;" class="table table-striped">
				{{ loginForm.as_table }}
			</table>
			<input type="submit" name="submit" value="Submit" class="btn btn-info btn-block">
		</form>
	</div>
</div>
</html>
{% endblock %}