{% extends 'Music/base.html' %}
{% load staticfiles %}

{% block body %}
	<p>Hello! {{ username }}</p>
	<form method="post" action="{% url 'Music:profile'%}" enctype="multipart/form-data">
		{% csrf_token %}
		<table class="table table-striped">
			{{ albumForm.as_table }}
		</table>
		<input type="submit" name="submit" value="ADD ALBUM" class="btn btn-success">
	</form>
	<p>{{ album.name }}</p>
	<p>{{ album.release }}</p>
	<!-- <button class="btn btn-success"><a href="#">ADD ALBUM</a></button> -->
{% endblock %}